apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-app
  namespace: development
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: course-app
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
